<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');
        
        body {
          font-family: 'Manrope', sans-serif;
          background: #eee;
        }
        
        .size span {
          font-size: 11px;
        }
        
        .color span {
          font-size: 11px;
        }
        
        .product-deta {
          margin-right: 70px;
        }
        
        .gift-card:focus {
          box-shadow: none;
        }
        
        .pay-button {
          color: #fff;
        }
        
        .pay-button:hover {
          color: #fff;
        }
        
        .pay-button:focus {
          color: #fff;
          box-shadow: none;
        }
        
        .text-grey {
          color: #a39f9f;
        }
        
        .qty i {
          font-size: 11px;
        }
    </style>
    <title>Shopping Cart</title>
</head>
<body>
<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-8">
            <div class="p-2">
                <h4>Shopping cart</h4>
              <a href="/products">  <p>Back to All Products</p></a>
            
            </div>

            <% let totalPrice = 0; %>

            <% allItems.forEach(item => { %>
            <div class="d-flex flex-row justify-content-between align-items-center p-2 bg-white mt-4 px-3 rounded">
                <div class="mr-1"><img class="rounded" src="<%= item.product.image %>" width="70"></div>
                <div class="d-flex flex-column align-items-center product-details">
                    <span class="font-weight-bold"><%= item.product.name %></span>
                    <div class="d-flex flex-row product-desc">
                        <div class="size mr-1">
                            <span class="text-grey">Price:</span>
                            <% totalPrice = item.product.price + totalPrice %>
                            <span class="font-weight-bold">&nbsp;<%= item.product.price %></span>
                        </div>
                        <div class="color">
                            <span class="text-grey">Rating:</span>
                            <span class="font-weight-bold">&nbsp;<%= item.product.rating %></span>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-row align-items-center qty">
                   
                    <h5 class="text-grey mt-1 mr-1 ml-1"><%= item.quantity %></h5>
                  
                </div>
                <div>
                    <h5 class="text-grey">₹<%= item.price %></h5>
                </div>


                <form class="d-inline-flex" action="/cart/delete/<%=item.product_id%>" method="get">
                    <button id="add-to-cart-btn" class="btn btn-primary">Remove</button>
                  </form>
               
            </div>
            <% }); %>

            <div class="d-flex flex-row align-items-center mt-3 p-2 bg-white rounded">

                <form class="d-inline-flex" action="/order" method="get">
                    <button class="btn btn-warning btn-block btn-lg ml-2 pay-button">Proceed to Pay Rs <%= totalPrice %></button>
                  </form>
  
            </div>
        </div>
    </div>
</div>
</body>
</html>
