<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="">AryanShop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

      <li class="nav-item">
        <a class="nav-link" href="/products/new">Add New Product</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/featuredProducts">Featured Products</a>
      </li>

      <% if(isAuthenticated==1){ %>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        <% } %>

        <% if(isAuthenticated==0){ %>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>

          <% } %>
   
      </ul>
  </div>
  </nav>




<body>
    
    <br><br><br><br>
    <h1 class="text-center">All Products</h1>
    <p style="margin-left: 2%;"><a href="/featuredProducts">Featured products</a></p>

    <div class="dropdown" style="margin-left: 89%;">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Sort by Price
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/products/under">Under 1000</a></li>
        <li><a class="dropdown-item" href="/products/over">Over 1000</a></li>
        
      </ul>
    </div>
   

    <br><br><br>



    <% for(let product of allProducts) { %>


    <div class="card d-inline-flex p-4" style="width: 18rem;">
        <img class="card-img-top" src="<%=product.image %>" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= product.name %></h5>
          <p class="card-text"><%= product.company %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Price - <%= product.price %></li>
          <li class="list-group-item">Rating - <%= product.rating %></li>
          <li class="list-group-item">Featured - 
            <% if(product.featured) {%>
                <p>Yes</p>
                <% } else {%>
                    <p>No</p>
                <%  }%>
          </li>
        </ul>


        <% if(isAuthenticated===1){ %>
        <div class="card-body">
          <!-- <a href="/products/<%=product._id%>/edit" class="card-link">Edit</a> -->
          <form class="d-inline-flex " action="/products/<%=product._id%>/edit" method="get">
          <button class="btn btn-primary">Edit</button></form>
  
          <!-- <a href="#" class="card-link">Delete</a> -->
          <form class="d-inline-flex" action="/products/<%=product._id%>?_method=DELETE" method="post">
          <button class="btn btn-danger">Delete</button></form>
        </div>
      </div>
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <% } else { %>

        <div class="card-body">
          <!-- <a href="/products/<%=product._id%>/edit" class="card-link">Edit</a> -->
          <form class="d-inline-flex" action="/cart/<%=product._id%>" method="post">
            <button id="add-to-cart-btn" class="btn btn-primary">Add to Cart</button>
          </form>
          <br><br>
          <!-- <a href="#" class="card-link">Delete</a> -->
          <!-- <form class="d-inline-flex" action="/login" method="get"> -->
        
        </div>
        </div>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        
        <% } %>




      <% } %>
</body>
<% if(alert === 1) {%>
<script>alert("Added to Cart")</script>
  <% } %>
</html>